{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">

<div class="signin_box">
    {% if local_login %}
    <form method="post" class="local_login_form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h1>Login</h1>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" autocomplete="username" required autofocus>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" autocomplete="current-password" required>
        <button type="submit">Login</button>
    </form>
    {% else %}
    <a href="/authorize" class="login_btn">
        <h1>Lo<i class="fab fa-google"></i>in</h1>
    </a>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class="red_notification">{{ messages[0] }}</p>
        {% else %}
            <p>&nbsp;</p>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
